<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889.-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DbConnectionString"
         connectionString="Server=tcp:tutorsearch.database.windows.net,1433;initial catalog=TutorSearch;user id=denis;password=qwerty_123;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DbName" value="TutorSearchBeta" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BasePath" value="prod/public/userFiles" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StorageUrl" value="https://tutorsearch.blob.core.windows.net" />
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="SiteUrl" value="https://tutorsearch.azurewebsites.net" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>